{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Includes Example.",
  "Resources": {
    "SNSBarTopic": {
      "Type": "AWS::SNS::Topic",
      "Properties": {
        "Subscription": [
          {
            "Endpoint": "dummy-test-email@gmail.com",
            "Protocol": "email"
          }
        ]
      }
    }
  }
}
